aiohttp==3.7.5
astroid==2.5.6
async-timeout==3.0.1
attrs==21.2.0
certifi==2022.12.07
chardet==4.0.0
colorama==0.4.4
discord.py==1.7.2
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
multidict==5.1.0
mysql-connector-python==8.0.25
protobuf==3.18.3
pylint==2.8.2
requests==2.31.0
riotwatcher==3.1.1
six==1.16.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.5
wrapt==1.12.1
yarl==1.6.3
